<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestMode" value="false"/>
    <add key="EjectOnDisagree" value="false"/>
    <add key="StorageAddedMessageTitle" value="Notification for Detected Storage"/>
    <add key="StorageAddedMessageMessage" value="You have just inserted a new storage 
Be careful what you install to this pc"/>
    <add key="policyFile" value="Policy/policy.html"/>
  </appSettings>
</configuration>